<body class="g-sidenav-show bg-gray-100">
    <div class="sidenav navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gray-100"
      id="sidenav-main">
      <app-transaction-nav></app-transaction-nav>
    </div>
  
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
      <app-navbar></app-navbar>
  
      <div class="row" style="margin-left:50px">
        <div class="col-md-12">
          <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item"><a class="nav-link active" href="transactions/virement/depot">Dépot</a></li>
            <li class="nav-item"><a class="nav-link" href="transactions/virement/retrait">Retrait</a></li>
          </ul>
          <div class="card-body">
            
          </div>
        </div>
      </div>
    </main>
  </body>