<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>

<body class="g-sidenav-show bg-gray-100">
    <div class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gray-100 side"
        id="sidenav-main">
        <div class="sidenav-header">
            <a class="navbar-brand m-0" href="javascript:;">
                <span class="ms-1 font-weight-bold"><img id="logo" src="../../../assets/img/logos/logo.png"></span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <app-transaction-nav></app-transaction-nav>
    </div>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <app-navbar></app-navbar>

        <div class="row" style="margin-left:50px">
            <div class="col-md-12">

                <div class="card-body">
                    <div class="col-11">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <section class="multi_step_form card-body">
                                        <form class="form" (submit)="addContact($event)">
                                            <div class="tittle">
                                                <h2>Ajouter Contact</h2>

                                            </div>
                                            <div *ngFor="let card of accountCards; let i = index" class="card"
                                                style="background-color: #f5f5f5; padding: 15px; border-radius: 10px;">
                                                <i class="bi bi-x-circle icon-close" (click)="deleteCard(i)"></i>
                                                <div class="form-group f1">
                                                    <label>Type du compte:</label>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio"
                                                            name="accountType{{i}}" id="accountDigiBank{{i}}"
                                                            [(ngModel)]="type" value="DigiBank">
                                                        <label class="form-check-label"
                                                            for="accountDigiBank{{i}}">DigiBank</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio"
                                                            name="accountType{{i}}" id="accountOtherBank{{i}}"
                                                            [(ngModel)]="type" value="OtherBank">
                                                        <label class="form-check-label"
                                                            for="accountOtherBank{{i}}">Autre Banque</label>
                                                    </div>
                                                </div>
                                                <div class="form-row form-card">
                                                    <div class="form-group col-md-6">
                                                        <label>RIB:</label>
                                                        <input type="text" class="form-control" [(ngModel)]="rib"
                                                            name="rib" placeholder="Enter RIB">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Label du compte:</label>
                                                        <input type="text" class="form-control" [(ngModel)]="libelle"
                                                            name="libelle" placeholder="Account Label">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <i class="bi bi-qr-code-scan" style="cursor: pointer;"
                                                        (click)="toggleScanner()"
                                                        [title]="scannerEnabled ? 'Stop Scanner' : 'Start Scanner'"></i>
                                                </div>
                                            </div>

                                            <div [style.display]="scannerEnabled ? 'block' : 'none'">
                                                <ngx-scanner-qrcode #scanner
                                                    (data)="onScanResult($event)"></ngx-scanner-qrcode>
                                                <p *ngIf="scanner.isLoading">⌛ Chargement...</p>
                                            </div>

                                            <div class="form-group">
                                                <button type="button" class="btn btn-secondary" id="addAccount"
                                                    (click)="addAccount()">Ajouter Compte</button>
                                            </div>
                                            <div class="row">

                                                <div class="col-lg-6">

                                                    <div class="form-group">
                                                        <span class="form-label">Nom complet</span>
                                                        <input class="form-control" type="text" [(ngModel)]="fullName"
                                                            name="fullName" placeholder="Entrez le nom complet"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">

                                                    <div class="form-group">
                                                        <span class="form-label">Genre</span>
                                                        <select class="form-control" [(ngModel)]="gender" name="gender"
                                                            required>
                                                            <option value="MONSIEUR">Monsieur</option>
                                                            <option value="MADAME">Madame</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Image de contact</label>
                                                        <input type="file" class="form-control-file"
                                                            [(ngModel)]="imageContact" name="imageContact"
                                                            (change)="handleImageUpload($event)" required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">

                                                    <div class="form-group">
                                                        <span class="form-label">Catégorie</span>
                                                        <input class="form-control" type="text" [(ngModel)]="categorie"
                                                            name="categorie" placeholder="Entrez la catégorie" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <span class="form-label">Adresse</span>
                                                    <input class="form-control" type="text" [(ngModel)]="address"
                                                        name="address" placeholder="Entrez l'adresse" required>
                                                </div>
                                            </div>

                                            <div class="form-btn">
                                                <button class="btn btn-primary btnorange" type="submit">Ajouter le
                                                    contact</button>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>