<app-topbars></app-topbars>

  <section id="banner13" class="bg-img cover-background full-screen p-0 banner" data-overlay-dark="2" data-background="../../../assets/img/banner/slide1.png">
    <div class="container d-flex flex-column">
      <div class="row align-items-center min-vh-80">
        <div class="col-md-6" class="center-container">
          <div>
            <div *ngIf="!captchaVerified">
              <ngx-recaptcha2 #captchaElem
                [siteKey]="siteKey"
                (success)="handleSuccess($event)"
                [useGlobalDomain]="false"
                formControlName="recaptcha">
              </ngx-recaptcha2>
            </div>
            <div *ngIf="captchaVerified" class="box" >
              <p class="box-text">{{ 'password.title' | translate }}</p>
              <form (ngSubmit)="onSubmitReset()" [formGroup]="passwordResetForm" class="form-group">
                <div class="form-group">
                  <input class="box-text" type="emailreset" id="emailreset" name="emailreset" formControlName="emailreset" [placeholder]="'password.placeholder' | translate" class="form-control">
                </div>
                <input type="submit" [value]="'password.resetbtn' | translate">
              </form>
            </div>
          
          </div>
        </div> 
      </div>
    </div>
  </section>
  
  

  <section id="copyright" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div id="copyright-content">
            <i class="bi bi-c-circle"></i>
            <span>{{ currentYear }}</span> Bamboo
        </div>
    </div>
  </section>


