<body class="g-sidenav-show bg-gray-100">
    <div class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gray-100 side" id="sidenav-main">
      <div class="sidenav-header">
        <a class="navbar-brand m-0" href="javascript:;">
          <span class="ms-1 font-weight-bold"><img id="logo" src="../../../assets/img/logos/logo.png"> </span>
        </a>
      </div>
      <hr class="horizontal dark mt-0">
      <app-transaction-nav></app-transaction-nav>
    </div>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
      <app-navbar></app-navbar>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Option de depot</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Depot compte source</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Montant</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let depot of depots">
                      <td>
                        <div class="d-flex px-2 py-1">
                          {{ depot.depot_option }}
                        </div>
                      </td>
                      <td>
                        <p class="text-xs text-secondary mb-0">
                          {{ depot.depot_compte_source }}
                        </p>
                    </td>

                        <td>
                        <span class="badge badge-sm" [ngClass]="{'bg-gradient-success': depot.isApproved, 'bg-gradient-danger': !depot.isApproved}">
                          {{ depot.montant }}
                        </span>
                      </td>
                      <td>
                        <span >
                          {{ depot.isApproved ? 'Approuvé' : 'Refusé' }}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  