/* Global override for z-index */@import url('https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css');
@import url('https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css');
@import url('https://demos.creative-tim.com/soft-ui-dashboard/assets/css/soft-ui-dashboard.min.css?v=1.0.2');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

.bg-gradient-primary {
  color: linear-gradient (90deg, #cca558, #8f7134) !important;
  background-color: linear-gradient (90deg, #cca558, #8f7134) !important;
  background-image: linear-gradient (310deg, #cca558, #8f7134) !important;
}


/* Global override for z-index */
::ng-deep #sidenav-main {
  z-index: 0;
}

.sidenav {
  height: 100vh;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.nav-link {
  cursor: pointer;
}

.submenu-list {
  list-style-type: none;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  max-height: 0;
  background-color: transparent;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  position: relative;
  border: none;
  box-shadow: none;
}

.submenu-list.active {
  max-height: 500px;
}

.icon-inactive {
  color: black !important;
}

::ng-deep .navbar-vertical .navbar-nav > .nav-item .nav-link.active .icon {
  background-image: linear-gradient(310deg, #c2862d, #3c2f1a);
}

.sousitem a {
  display: block;
  pointer-events: none; /* Désactive les événements de souris */
  cursor: default; /* Change le curseur de la souris */
  background-color: black; /* Assure la couleur de fond */
  color: inherit; /* Conserve la couleur de texte originale */
  text-decoration: none; /* Supprime les soulignements */
  transition: none; /* Désactive les transitions */
  animation: none; /* Désactive les animations */
}

.sousitem a:hover {
  background-color: black; /* Assure que la couleur de fond reste noire */
  color: inherit; /* Conserve la couleur de texte originale */
  pointer-events: none; /* Assure que les événements de souris restent désactivés */
  transition: none; /* Désactive les transitions */
  animation: none; /* Désactive les animations */
}

.submenu-list .sousitem a {
  pointer-events: none;
  cursor: default;
  background-color: black;
  color: inherit;
  transition: none;
  animation: none;
}
