<div class="card">
    <div class="card-header">
        <h4>{{ 'professionnel.ent_informations.formTitle' | translate }}</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="informationForm" class="row g-3 needs-validation" novalidate>
            <div class="col-md-6">
                <label for="raisonSociale" class="form-label">{{ 'professionnel.ent_informations.raisonSociale' | translate }}</label><span class="required">*</span>                
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-building"></i></span>
                    <input type="text" class="form-control" id="raisonSociale" formControlName="raisonSociale" required pattern="[a-zA-ZÀ-ÿ\s\-']{2,}">
                </div>
                <div *ngIf="informationForm.get('raisonSociale')?.invalid && (informationForm.get('raisonSociale')?.dirty || informationForm.get('raisonSociale')?.touched)" class="text-danger">
                    <div *ngIf="informationForm.get('raisonSociale')?.hasError('required')" style="margin-top: 3px;">{{ 'professionnel.ent_informations.firstNameAlert' | translate }}</div>
                    <div *ngIf="informationForm.get('raisonSociale')?.hasError('pattern')" style="margin-top: 3px;">{{ 'professionnel.ent_informations.firstNameAlert2' | translate }}</div>
                </div>
            </div>
            <div class="col-6">
                <label for="formJuridique" class="form-label">{{ 'professionnel.ent_informations.formJuridique' | translate }}</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-balance-scale"></i></span>
                    <select id="inputState" class="form-select" required formControlName="formJuridique">
                        <option value="" disabled selected>{{ 'professionnel.ent_informations.optionValue' | translate }}</option>
                        <option value="Société à responsabilité limitée (SARL) ">{{ 'professionnel.ent_informations.option1' | translate }}</option>
                        <option value="Entreprise individuelle (EI)">{{ 'professionnel.ent_informations.option2' | translate }}</option>
                        <option value="Entreprise unipersonnelle à responsabilité limitée (EURL) ">{{ 'professionnel.ent_informations.option3' | translate }}</option>
                        <option value="Société en nom collectif (SNC) ">{{ 'professionnel.ent_informations.option4' | translate }}</option>
                        <option value="Société à responsabilité limitée (SARL)">{{ 'professionnel.ent_informations.option5' | translate }}</option>
                        <option value="Société en commandite simple (SCS)">{{ 'professionnel.ent_informations.option6' | translate }}</option>
                        <option value="Société par actions simplifiée (SAS)">{{ 'professionnel.ent_informations.option7' | translate }}</option>
                        <option value="Société par actions simplifiée unipersonnelle (SASU)">{{ 'professionnel.ent_informations.option8' | translate }}</option>
                    </select>
                </div>
                <div *ngIf="informationForm.get('formJuridique')?.invalid && (informationForm.get('formJuridique')?.dirty || informationForm.get('formJuridique')?.touched)" class="text-danger">
                    <div *ngIf="informationForm.get('formJuridique')?.hasError('required')" style="margin-top: 3px;">{{ 'professionnel.ent_informations.genderAlert' | translate }}</div>
                  </div>
            </div>
           
            <div class="col-md-6">
                <label for="catégorie" class="form-label">{{ 'professionnel.ent_informations.catégorie' | translate }}</label><span class="required">*</span>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-tags"></i></span> <!-- Replaced the icon class with Bootstrap's person icon -->
                    <input type="text" class="form-control" id="catégorie" formControlName="catégorie" required pattern="[a-zA-ZÀ-ÿ\s\-']{2,}">
                </div>
                       <div *ngIf="informationForm.get('catégorie')?.invalid && (informationForm.get('catégorie')?.dirty || informationForm.get('catégorie')?.touched)" class="text-danger">
                        <div *ngIf="informationForm.get('catégorie')?.hasError('required')" class="text-danger">{{ 'professionnel.ent_informations.lastNameAlert' | translate }}</div>
                        <div *ngIf="informationForm.get('catégorie')?.hasError('hasNumbers')" class="text-danger">{{ 'professionnel.ent_informations.lastNameAlert2' | translate }}</div>                        
                    </div>
            </div>

            <div class="col-md-6">
                <label for="abreviation" class="form-label">{{ 'professionnel.ent_informations.abreviation' | translate }}</label><span class="required">*</span>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                    <input type="text" id="abreviation" name="abreviation" formControlName="abreviation" class="form-control">
                </div>
            </div>

            <div class="col-12">
                <label for="creation_date">{{ 'professionnel.ent_informations.creation_date' | translate }}</label><span class="required">*</span>
                <input type="date" id="creation_date" name="creation_date" formControlName="creation_date" [max]="getCurrentDate()">
            </div>

            <div class="col-md-6">
                <label for="codeRCCM" class="form-label">{{ 'professionnel.ent_informations.codeRCCM' | translate }}</label><span class="required">*</span>                
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-archive"></i></span>
                    <input type="text" class="form-control" id="codeRCCM" formControlName="codeRCCM" required pattern="[0-9a-zA-Z]*">
                </div>
                <div *ngIf="informationForm.get('codeRCCM')?.invalid && (informationForm.get('codeRCCM')?.dirty || informationForm.get('codeRCCM')?.touched)" class="text-danger">
                    <div *ngIf="informationForm.get('codeRCCM')?.hasError('required')" style="margin-top: 3px;">{{ 'professionnel.ent_informations.RCCMalerte' | translate }}</div>
                    <div *ngIf="informationForm.get('codeRCCM')?.hasError('pattern')" style="margin-top: 3px;">{{ 'professionnel.ent_informations.RCCMalerte1' | translate }}</div>
                </div>
            </div>

            <div class="col-md-6">
                <label for="codeNIF" class="form-label">{{ 'professionnel.ent_informations.codeNIF' | translate }}</label><span class="required">*</span>                
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                    <input type="text" class="form-control" id="codeNIF" formControlName="codeNIF" required pattern="[0-9a-zA-Z]*">
                </div>
                <div *ngIf="informationForm.get('codeNIF')?.invalid && (informationForm.get('codeNIF')?.dirty || informationForm.get('codeNIF')?.touched)" class="text-danger">
                    <div *ngIf="informationForm.get('codeNIF')?.hasError('required')" style="margin-top: 3px;">{{ 'professionnel.ent_informations.NIFalerte' | translate }}</div>
                    <div *ngIf="informationForm.get('codeNIF')?.hasError('pattern')" style="margin-top: 3px;">{{ 'professionnel.ent_informations.NIFalerte1' | translate }}</div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col text-start">

                        <button class="btn btn-secondary butn" (click)="Retour('informations-entreprise')">{{ 'professionnel.backButton' | translate }}</button>
                    </div>
                    <div class="col text-end">
                        <button class="btn btn-secondary butn" (click)="Suivant('adresse-entreprise')" [disabled]="!isFormValid()">{{ 'professionnel.nextButton' | translate }}</button>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>