        <!-- SERVICE
        ================================================== -->
        <section>
            <div class="container">
                <div class="row align-items-end mb-2-3 mb-md-6">
                    <div class="col-lg-5 mb-3 mb-lg-0">
                        <div class="main-title title-left">what we offer
                            <span class="line-left"></span>
                        </div>
                        <h2 class="w-md-90 text-lg-start mb-0">You can accomplish your monetary objectives.</h2>
                    </div>
                    <div class="col-lg-7">
                        <p class="mb-0">Advances at appealing financing costs with higher credit qualification and lower EMI. credit is the loaning of cash by at least one people, associations, or different substances to others, associations. Apply now to get snappy endorsement of best advance administrations.</p>
                    </div>
                </div>
                <div class="row g-lg-5 mt-n1-9">
                    <div class="col-md-6 col-xl-4 mt-1-9">
                        <div class="card card-style1">
                            <img src="../../../assets/img/service/main-services-1.jpg" class="d-block" alt="...">
                            <div class="service-data">
                                <div class="lh-1"><i class="ti-credit-card display-20 display-lg-15 text-white"></i></div>
                                <h3 class="h5 text-white mb-0 ms-3">Personal Loan</h3>
                            </div>
                            <div class="card-body">
                                <div class="service-inner">
                                    <div class="lh-1"><i class="ti-credit-card display-15 text-primary"></i></div>
                                    <h3 class="h5 mb-0 ms-3"><a href="#!" class="text-white">Personal Loan</a></h3>
                                </div>
                                <div>
                                    <p class="text-white mb-lg-4">An individual advance is an unstable credit that you can benefit without vowing any insurance.</p>
                                    <a class="butn small primary" href="personal-loan.html">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-1-9">
                        <div class="card card-style1">
                            <img src="../../../assets/img/service/main-services-2.jpg" class="d-block" alt="...">
                            <div class="service-data">
                                <div class="lh-1"><i class="ti-pencil-alt display-20 display-lg-15 text-white"></i></div>
                                <h3 class="h5 text-white mb-0 ms-3">Education Loan</h3>
                            </div>
                            <div class="card-body">
                                <div class="service-inner">
                                    <div class="lh-1"><i class="ti-pencil-alt display-15 text-primary"></i></div>
                                    <h3 class="h5 mb-0 ms-3"><a href="#!" class="text-white">Education Loan</a></h3>
                                </div>
                                <div>
                                    <p class="text-white mb-lg-4">An understudy loan can assist you with getting your preferred college.</p>
                                    <a class="butn small primary" href="education-loan.html">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-1-9">
                        <div class="card card-style1">
                            <img src="../../../assets/img/service/main-services-3.jpg" class="d-block" alt="...">
                            <div class="service-data">
                                <div class="lh-1"><i class="ti-zip display-20 display-lg-15 text-white"></i></div>
                                <h3 class="h5 text-white mb-0 ms-3">Business Loan</h3>
                            </div>
                            <div class="card-body">
                                <div class="service-inner">
                                    <div class="lh-1"><i class="ti-zip display-15 text-primary"></i></div>
                                    <h3 class="h5 mb-0 ms-3"><a href="#!" class="text-white">Business Loan</a></h3>
                                </div>
                                <div>
                                    <p class="text-white mb-lg-4">Credit office that is intended to help entrepreneurs by giving assets immediately.</p>
                                    <a class="butn small primary" href="business-loan.html">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>