<app-topbars></app-topbars>

  <section id="banner12" class="bg-img cover-background full-screen p-0 banner" data-overlay-dark="2" data-background="../../../assets/img/banner/slide2.png">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="main-card">
            <h2>{{ 'register.title' | translate }}</h2>
            <div class="card-container">
                <div class="card">
                    <a href="/dash/informations-personelles" class="card-link">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'register.type1' | translate }}</h5>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="/professionnel/informations-du-mandataire" class="card-link">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'register.type2' | translate }}</h5>
                        </div>
                    </a>
                </div>
                <p class="box-text">Compte déjà existant ? <a class="forgot box-text" href="/bfi/login">Connectez-vous!</a></p>

            </div>
        </div>
    </div>
</section>



<section id="copyright" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div id="copyright-content">
            <i class="bi bi-c-circle"></i>
            <span>{{ currentYear }}</span> DigiBank
        </div>
    </div>
</section>



