
#banner {
    position: relative;
    height: 100vh; /* 100% viewport height */
    width: 100%; /* 100% width of viewport */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    opacity: 0.8; /* Set the opacity level */
    margin-bottom: 0; /* Ensure no bottom margin */

}

#topbar {
    background: #191919;
    font-size: 15px;
    height: 40px;
    padding: 0;
    color: rgba(255, 255, 255, 0.6);
    position: relative; /* Ensure proper stacking order */
    z-index: 999; /* Ensure the topbar appears above other elements */
}

#topbar .contact-info a {
    line-height: 0;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    color: #C2862D;
}

#topbar .contact-info i {
    color: #C2862D;
    line-height: 0;
    margin-right: 5px;
}

#topbar .contact-info .phone-icon {
    margin-left: 15px;
}

#topbar .social-links a {
    color: rgba(255, 255, 255, 0.6);
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
}

#topbar .social-links a:hover {
    color: #fff;
}


a {
    text-decoration: none !important;
}


.card-title {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}


.card-body {
    text-align: center;
    padding: 0px;
    width: 100%;
}

.row {
    margin-top: 100px; /* Add margin to push the row down */
}

.a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}


.card:hover,.card:active,.card:focus {
    background-color: wheat !important ;
}

.main-card {
    background-color: rgba(25, 25, 25, 0.8);
    border-radius: 30px;
    padding: 20px;
    margin-top: 70px;
    text-align: center;
}

.main-card h2 {
    color: #fff;
    margin-bottom: 30px;
    margin-top: 10px;
}

.card {
    width: 80%; /* Ensure the cards take up the full width of the container */
    background-color: rgba(170, 170, 170, 0.747);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    transition: background-color 0.5s ease, cubic-bezier(0.25, 0.1, 0.23, 0.35), color 0.5s ease; /* Smooth transition for background-color and color */
}




.card:hover .card-title {
    color: #000; /* Change color on hover */
}


