<app-topbars></app-topbars>


  <section id="banner" class="bg-img cover-background full-screen p-0 banner" data-overlay-dark="2" data-background="../../../assets/img/banner/slide1.png">
    <div class="container d-flex flex-column">
        <div class="row align-items-center min-vh-80">
            <div class="row"> 
                <div class="col-md-6">   
                        <div>
                            <h4>{{ 'updatedpassword.title' | translate }}</h4>
                            <a class="lien" href="/login">{{ 'updatedpassword.login' | translate }}</a>
                        </div>                
                </div> 
            </div>
        </div>
        </div>

</section>
<section id="copyright" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div id="copyright-content">
            <i class="bi bi-c-circle"></i>
            <span>{{ currentYear }}</span> Bamboo
        </div>
    </div>
</section>
