<div class="card">
    <div class="card-header">
        <h4>Offres et Domiciliation</h4>
    </div>
  
    <div class="card-body">
        <div class="row">
            <!-- Column for selecting packs -->
            <div class="col-md-{{ selectedPack ? '8' : '12' }}">
                <form [formGroup]="offerForm" class="row g-3">
                    <div class="col-12">
                        <p>Choisissez votre agence de préférence.</p>
                        <label for="agence">Agence</label><span class="required">*</span>

                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-building"></i></span> <!-- Icon added to the left of the label -->
                            <select id="agence" class="form-select" required formControlName="agence">
                                <option value="" disabled selected>Choisir votre agence</option>
                                <option value="agence_moanda">AGENCE DE MOANDA</option>
                                <option value="agence_tun">AGENCE DE TUN</option>
                            </select>
                        </div>
                        <div *ngIf="offerForm.get('agence')?.invalid && (offerForm.get('agence')?.dirty || offerForm.get('agence')?.touched)" class="text-danger" style="margin-top: 3px;">
                            <div *ngIf="offerForm.get('agence')?.hasError('required')">Veuillez choisir votre agence</div>
                        </div>
                    </div>
                    <div class="col-12">
                        <p>Choisissez votre compte</p>
                        <div class="row">
                            <div class="col-md-4 mb-3" *ngFor="let compte of comptes">
                                <div class="compte" (click)="selectCompte(compte.value)" [class.selected]="isCompteSelected(compte.value)">
                                    <div>
                                        <h5 class="card-title">{{ compte.label }}</h5>
                                        <i class="fas fa-check" *ngIf="isCompteSelected(compte.value)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3" *ngFor="let pack of packsAffiches">
                        <div class="pack" (click)="selectPack(pack.name, pack.description)" [class.selected]="isPackSelected(pack.name)">
                            <div>
                                <h5 class="card-title">{{ pack.name }}</h5>
                                <i class="fas fa-check" *ngIf="isPackSelected(pack.name)"></i>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Column to display the selected pack content -->
            <div class="col-md-{{ selectedPack ? '4' : '0' }}">
                <div class="centerpack">
                    <div *ngIf="selectedPack" class="selected-pack">
                        <div class="pack">
                            <h5>Description du Pack</h5>
                            <p [innerHTML]="selectedPackDescription"></p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col text-start">
                    <button class="butn" (click)="Retour()">Retour</button>
                </div>
                <div class="col text-end">
                    <button class="butn" (click)="Suivant()">Suivant</button>
                </div>
            </div>
        </div>
    </div>
</div>
