 <!-- SERVICES
        ================================================== -->
        <section class="py-2-3 services-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 mb-1-9 mb-lg-0">
                        <div class="media align-items-center">
                            <img src="../../../assets/img/content/icon1.png" alt="...">
                            <div class="media-body ms-3">
                                <h4 class="mb-0 text-white h5">Approbations rapides</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1-9 mb-lg-0">
                        <div class="media align-items-center">
                            <img src="../../../assets/img/content/icon2.png" alt="...">
                            <div class="media-body ms-3">
                                <h4 class="mb-0 text-white h5">300,000 Clients</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1-9 mb-sm-0">
                        <div class="media align-items-center">
                            <img src="../../../assets/img/content/icon3.png" alt="...">
                            <div class="media-body ms-3">
                                <h4 class="mb-0 text-white h5">Paiements Flexibles</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="media align-items-center">
                            <img src="../../../assets/img/content/icon4.png" alt="...">
                            <div class="media-body ms-3">
                                <h4 class="mb-0 text-white h5">Pas de frais de remboursement anticipé</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>