
<div class="card">
    <div class="card-header">
        <h4>Conditions générales</h4>
</div>
    
<div class="card-body">
    <p>Ce document décrit les modalités d'utilisation de notre application web ou mobile Banking que nous désignons communément par le terme « plateforme ». Il permet ainsi de déterminer les responsabilités de chacun, mais vous renseigne également sur la propriété intellectuelle et la protection de vos données personnelles.</p>
    <h2>Partenaire Technique</h2>
    <p>Ventis Technologie</p>
    <ul>
        <li>Société par action Simplifiée au capital de 1 000 000 XAF</li>
        <li>Batterie IV, Libreville, Gabon</li>
        <li>Immatriculée au registre de commerce sous le RCCM n° GA-LBV-01-2021-B16-00016</li>
        <li>NIF: 202101003285-T</li>
        <li>Site internet: <a href="www.ventis.group">www.ventis.group</a></li>
        <li>Tél: 011 73 58 20</li>
    </ul>
    <input class="check_box" type="checkbox" id="conditions" name="conditions">
    <label class="labe_l" for="conditions">J'accepte les conditions générales de vente et d'utilisation, et certifie la sincérité des informations transmises.</label><br>
    <div class="col-12">
        <button type="button" class="btn btn-secondary butn">J'accepte</button>
    </div></div>
</div>

