.body{
    width: calc(100%-5rem);
    height: 100vh;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background-image: none;
    background-size: cover;
    padding: 3rem;
    background-repeat: repeat;
    overflow-y: auto;
    
}
.body-trimmed{
    width: calc(100%-5rem);
    margin-left: 16.5625rem;
}
.body-md-screeen{
    width: calc(100%-5rem);
    margin-left: 5rem;
}
.pack-description {
    padding: 1rem; /* Ajoutez un espacement autour du descriptif */
    background-color: #f8f9fa; /* Couleur de fond pour la section */
    border-left: 1px solid #dee2e6; /* Bordure à gauche pour séparer du contenu principal */
}
