
    <!--<div id="preloader"></div> -->


<app-topbar></app-topbar>
<section id="banner" class="bg-img cover-background full-screen top-position1 p-0 banner" data-overlay-dark="2" data-background="../../../assets/img/banner/slide1.jpg">

    <div class="container d-flex flex-column">
        <div class="row align-items-center min-vh-100">
            <div class="col-md-10 col-lg-7 col-xl-8 mt-5 mt-lg-0">
                <span class="display-28 letter-spacing-2 d-block mb-1-6  fw-bold colorban">Simple. Transparent. Secure.</span>
                <h1 class="text-white display-16 display-sm-14 display-md-9 display-lg-7 display-xl-3 lh-1 mb-2-3 text-shadow"><span class="fw-bolder">Building a brilliant</span> monetary future</h1>
                <a href="" class="butn">Read More</a>
            </div>
        </div>
    </div>
</section>

<app-offers></app-offers>
<app-services></app-services>
<app-aboutus></app-aboutus>
<app-process></app-process>   

       
<app-details></app-details>
<app-counter></app-counter>
<app-partners></app-partners>
<app-blog></app-blog>
<app-footer></app-footer>


<div class="all-demo alt-font d-none d-lg-inline-block"><i class="far fa-envelope"></i><span>Quick Question?</span></div>
<a class="scroll-to-top" (click)="scrollToTop('topbar')"><i class="fas fa-angle-up" aria-hidden="true"></i></a>



