
    <!--<div id="preloader"></div> -->


<app-topbar></app-topbar>
<section id="banner" class="bg-img cover-background full-screen top-position1 p-0 banner" data-overlay-dark="2" data-background="../../../../assets/img/banner/slide1.png">

    <div class="container d-flex flex-column">
        <div class="row align-items-center min-vh-100">
            <div class="col-md-10 col-lg-7 col-xl-8 mt-5 mt-lg-0">
                <h1 class="text-white display-16 display-sm-14 display-md-9 display-lg-7 display-xl-3 lh-1 mb-2-3 text-shadow" [@slideInFromLeft]><span class="fw-bolder">{{ 'homepage.heading' | translate }}</span><br>{{ 'homepage.subheading' | translate }}</h1>
                <a href="" class="butn homebtn"  [@fadeInOut]>{{ 'homepage.button' | translate }}</a>
            </div>
        </div>
    </div>
</section>

<app-offers></app-offers>
<app-services></app-services>
<app-aboutus></app-aboutus>
<app-process></app-process>   

       
<app-details></app-details>
<app-counter></app-counter>
<!--<app-partners></app-partners>-->
<app-blog></app-blog>
<app-footer></app-footer>


<div class="all-demo alt-font d-none d-lg-inline-block"></div>
<a class="scroll-to-top" (click)="scrollToTop('topbar')"><i class="fas fa-angle-up" aria-hidden="true"></i></a>



