 
<body class="g-sidenav-show bg-gray-100">  
    <div class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gray-100" id="sidenav-main">
        <div class="sidenav-header">
            <a class="navbar-brand m-0" href="javascript:;">
                         
                <span class="ms-1 font-weight-bold"><img  id="logo" src="../../../assets/img/logos/logo.png"> </span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <app-transaction-nav></app-transaction-nav>
    </div>
        <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
            <app-navbar></app-navbar>
            <div class="container-fluid py-4">
                <div class="row">
                <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0" style="display: flex; justify-content: space-between; align-items: center;">
                        <h6>Authors table</h6>
                        <div class="float-right">
                            <button  type="submit" class="btn btn-secondary butn">
                                <i class="fas fa-user-plus"></i>
                                  Ajouter utilisateur
                            </button>
                            
                        </div>
                    </div>
                    
                <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                <thead>
                <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id utilisateur	</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Prénom</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">E-mail	</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">N° téléphone</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action	</th>
                </tr>
                </thead>
                <tbody>
               
                <tr>
                <td>
                <div class="d-flex px-2 py-1">
                <div>
                <img src="../assets/img/team-4.jpg" class="avatar avatar-sm me-3" alt="user6">
                </div>
                <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm">Miriam Eric</h6>
                <p class="text-xs text-secondary mb-0">miriam@creative-tim.com</p>
                </div>
                </div>
                </td>
                <td>
                <p class="text-xs font-weight-bold mb-0">Programtor</p>
                <p class="text-xs text-secondary mb-0">Developer</p>
                </td>
                <td class="align-middle text-center text-sm">
                <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                </td>
                <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">14/09/20</span>
                </td>
                <td class="align-middle">
                <span class="text-secondary text-xs font-weight-bold">14/09/20</span>
                </td>
                <td>
                <span class="text-secondary text-xs font-weight-bold">14/09/20</span>
                </td>
                </tr>
                </tbody>
                </table>
                </div>
                </div>
                </div>
                </div>
                </div>             
                </div>         
        </main>   
</body>