@import url('https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css');
@import url('https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css');
@import url('https://demos.creative-tim.com/soft-ui-dashboard/assets/css/soft-ui-dashboard.min.css?v=1.0.2');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');



.sidenav.navbar {
    height: 100vh; /* Prendre toute la hauteur de l'écran */
    z-index : -999 !important;
    overflow-x: hidden !important;
}
.icon-inactive{
    color: black !important;
}

.nav-item {
    position: relative;
  }

  .submenu-list.active {
    max-height: 500px; /* Adjust this value based on your needs */

  }
  
  .submenu-list {
    list-style-type: none;
    padding-left: 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out; /* Add transition for smooth animation */
  }
  /* 
.submenu-item {
    padding-left: 20px; /* Indent submenu items */
  
  /* 
  .submenu-link {
    text-decoration: none;
    color: #282530;
  }
  
  .has-submenu.active .submenu-list {
    display: block; /* Show when active */
  
  /* 
  .has-submenu.active .bi-chevron-down {
    transform: rotate(180deg); /* Rotate caret when expanded */
    



