@import url('https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css');
@import url('https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css');
@import url('https://demos.creative-tim.com/soft-ui-dashboard/assets/css/soft-ui-dashboard.min.css?v=1.0.2');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

.bg-gradient-primary{
  color: linear-gradient (90deg, #cca558, #8f7134) !important ;
  background-color: linear-gradient (90deg, #cca558, #8f7134) !important;
  background-image: linear-gradient (310deg, #cca558, #8f7134) !important;
}


/* Global override for z-index */
::ng-deep #sidenav-main {
  z-index: 0; 
}


.sidenav {
    height: 100vh; /* Prendre toute la hauteur de l'écran */
    overflow-x: hidden !important; 
    overflow-y: hidden !important; 
}

.icon-inactive{
    color: black !important;
}

.nav-item {
    position: relative;
  }

  .submenu-list.active {
    max-height: 500px; /* Adjust this value based on your needs */

  }
  
  .submenu-list {
    list-style-type: none;
    padding-left: 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out; /* Add transition for smooth animation */
  }
  
  ::ng-deep .navbar-vertical .navbar-nav > .nav-item .nav-link.active .icon {
    background-image: linear-gradient(310deg, #c2862d, #3c2f1a); /* New gradient */
}



