@import url('https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css');
@import url('https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css');
@import url('https://demos.creative-tim.com/soft-ui-dashboard/assets/css/soft-ui-dashboard.min.css?v=1.0.2');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


.sidenav {
    height: 100vh; /* Prendre toute la hauteur de l'écran */
    overflow-x: hidden !important; 
    overflow-y: hidden !important; 
}