




<div class="card">
    <div class="card-head">
        <h4>Adresse</h4>
    </div>

    <div class="card-body">
        <form class="row g-3" #form="ngForm">
            <div class="col-12">
                <label for="pays">Entrer votre pays </label><span class="required">*</span>
                <input type="text" id="pays" name="pays" (change)="locateCountry()" required>
            </div>

            <div class="map-container">
              
                <div class="map-container">
                    <div class="map-frame">
                        <div id="map"></div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <label for="ville">Ville </label><span class="required">*</span>
                <input type="text" id="ville" name="ville" #villeInput>
                <!-- Ajoutez ici l'indicateur d'obligation -->
            </div>
            
            <div class="col-md-6">
                <label for="quartier">Quartier </label>
                <input type="text" id="quartier" name="quartier">
            </div>
            <div class="col-md-6">
                <label for="adresse">Référence de votre adresse </label>
                <input type="text" id="adresse" name="adresse">
            </div>
            <div class="col-md-6">
                <label for="bp">BP </label>
                <input type="text" id="bp" name="bp">
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col text-start">
                        <button class="butn" (click)="Retour()">Retour</button>
                    </div>
                    <div class="col text-end">
                        <button class="butn" (click)="Suivant()">Suivant</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>