        <!-- COUNTER
        ================================================== -->
        <section class="bg-img cover-background banner3" data-overlay-dark="7" data-background="../../../assets/img/bg/bg-05.jpg">
            <div class="container">
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="text-center">
                            <h3 class="text-white h1 countup">3472</h3>
                            <span class="text-white">{{ 'homepage.counter.projectsDone' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="text-center">
                            <h3 class="text-white h1"><span class="countup">156</span>K</h3>
                            <span class="text-white">{{ 'homepage.counter.loanIncrease' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="text-center">
                            <h3 class="text-white h1"><span class="countup">5.60</span>%</h3>
                            <span class="text-white">{{ 'homepage.counter.offerLowInterest' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="text-center">
                            <h3 class="text-white h1"><span class="countup">100</span>%</h3>
                            <span class="text-white">{{ 'homepage.counter.happyClients' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>