<div class="card">
    <div class="card-header">
        <h4>Informations Personnelles</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="informationForm" class="row g-3 needs-validation" novalidate>
            <div class="col-12">
                <label for="gender" class="form-label">Civilité </label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
                    <select id="inputState" class="form-select" required formControlName="gender">
                        <option value="" disabled selected>Choisissez...</option>
                        <option value="MONSIEUR">Monsieur</option>
                        <option value="MADAME">Madame</option>
                    </select>
                </div>
                <div *ngIf="informationForm.get('genre')?.invalid && (informationForm.get('genre')?.dirty || informationForm.get('genre')?.touched)" class="text-danger">
                    <div *ngIf="informationForm.get('genre')?.hasError('required')" style="margin-top: 3px;">Veuillez choisir votre genre</div>
                  </div>
            </div>
            <div class="col-md-6">
                <label for="firstName" class="form-label">Nom</label><span class="required">*</span>                
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName" required pattern="[a-zA-ZÀ-ÿ\s\-']{2,}">
                </div>
                <div *ngIf="informationForm.get('firstName')?.invalid && (informationForm.get('firstName')?.dirty || informationForm.get('firstName')?.touched)" class="text-danger">
                    <div *ngIf="informationForm.get('firstName')?.hasError('required')" style="margin-top: 3px;">Entrez un nom valide</div>
                    <div *ngIf="informationForm.get('firstName')?.hasError('pattern')" style="margin-top: 3px;">Le nom ne peut pas contenir de chiffres</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="lastName" class="form-label">Prénom</label><span class="required">*</span>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person"></i></span> <!-- Replaced the icon class with Bootstrap's person icon -->
                    <input type="text" class="form-control" id="lastName" formControlName="lastName" required pattern="[a-zA-ZÀ-ÿ\s\-']{2,}">
                </div>
                       <div *ngIf="informationForm.get('lastName')?.invalid && (informationForm.get('lastName')?.dirty || informationForm.get('lastName')?.touched)" class="text-danger">
                        <div *ngIf="informationForm.get('lastName')?.hasError('required')" class="text-danger">Entrez un prénom valide</div>
                        <div *ngIf="informationForm.get('lastName')?.hasError('hasNumbers')" class="text-danger">Le prénom ne peut pas contenir de chiffres</div>                        
                    </div>
            </div>
            <div class="mb-3">
                <label for="photo" class="form-label">Photo de profil</label>
                <input type="file" name="photo" class="form-control"id="photo" formControlName="photo">
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input type="email" class="form-control" id="email" formControlName="email" required>
                </div>
                <div *ngIf="informationForm.get('email')?.invalid && (informationForm.get('email')?.dirty || informationForm.get('email')?.touched)" class="text-danger">
                    <div *ngIf="informationForm.get('email')?.hasError('required')">Entrez un email valide</div>
                    <div *ngIf="informationForm.get('email')?.hasError('email')">Entrez une adresse email valide</div>

                </div>
            </div>
            <div class="col-md-6 telStyle">
                <label for="phoneNumber" name="phoneNumber" id="phoneNumber" class="form-label">Téléphone</label><span class="required">*</span>
                <!-- Add the ngx-intl-tel-input component here -->
                <ngx-intl-tel-input formControlName="phoneNumber"  class="form-control border-control"
                    [preferredCountries]="['tn']"
                    [enablePlaceholder]="true"
                    [cssClass]="'form-control'"
                    [searchCountryFlag]="true"
                    [selectedCountryISO]="selectedCountryISO"
                    [searchCountryPlaceholder]="'Recherchez un pays'"
                    >
                </ngx-intl-tel-input>
                <div *ngIf="informationForm.get('phoneNumber')?.invalid && (informationForm.get('phoneNumber')?.dirty || informationForm.get('phoneNumber')?.touched)" class="text-danger">
                    <div *ngIf="informationForm.get('phoneNumber')?.hasError('required')" style="margin-top: 3px;">Entrez votre numéro</div>
                  </div>
            </div>
            <div class="col-md-6">
                <label for="dateOfBirth" class="form-label">Date de Naissance </label><span class="required">*</span>
                <div class="row">
                    <div class="col-4">
                        <input type="date" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth"  class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col text-start">

                        <button class="btn btn-secondary butn" (click)="Retour()">Retour</button>
                    </div>
                    <div class="col text-end">
                        <button class="btn btn-secondary butn" (click)="Suivant()" [disabled]="!isFormValid()">Suivant</button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>