<body class="g-sidenav-show bg-gray-100">
    <div class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gray-100"
        id="sidenav-main">
        <div class="sidenav-header">
            <a class="navbar-brand m-0" href="#">
                <span class="ms-1 font-weight-bold">
                    <img id="logo" src="assets/img/logos/logo.png">
                </span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <app-transaction-nav></app-transaction-nav>
    </div>

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <app-navbar></app-navbar>
        <div class="card mb-4" style="background-color: #eeeeec !important;">

            <div class="card-body px-4 pb-2">
                <div class="row">
                    <div class="col-2">
                        <label style="cursor: pointer;" (click)="GoToMyContacts()">Vers mes comptes</label>
                        <label>Effectuer un virement vers un de mes comptes bancaires</label>
                        <label style="cursor: pointer;" (click)="GoToAutreCompte()">Vers autre compte</label>
                        <label>Effectuer un virement simple vers un compte bancaire</label>
                        <label style="cursor: pointer;" (click)="GoToMultipleContact()">Multiple</label>
                        <label>Effectuer un virement multiple</label>
                        <label style="cursor: pointer;" (click)="GoToPermanent()">Permanent</label>
                        <label>Effectuer un virement permanent vers un compte bancaire</label>
                    </div>

                    <div class="col-10">
                        <div class="card">
                            <div class="card-header">
                                Cette transaction permet de virer un montant vers un compte au profit d'un bénéficiaire.
                            </div>
                            <div class="card-body card-body-principale pl-0 pr-0">
                                <div class="row d-flex justify-content-center">
                                    <div class="row col-12 col-sm-12 col-md-12 col-log-12 col-xl-12 p-0 ng-scope">
                                        <div class="col-12 text-center pb-1">
                                            <h4 class="ng-binding">Virement vers un autre compte</h4>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-log-12 col-xl-12 text-center mb-2">
                                            <p class="error font-size-16 bold ng-binding"></p>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-2 "
                                            (click)="GoToNextStepBamboo()" style="cursor: pointer;">
                                            <div class="card card-radius card-border welcome-card bg-light" alt="BAMBOO"
                                                title="BAMBOO">
                                                <p class="versement-text text-center pt-2 ">
                                                    <i class="fas fa-file-invoice-dollar pr-2"
                                                        style="color:  #493201 !important"></i> BAMBOO
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-2"
                                            (click)="GoToNextStepAutre()" style="cursor: pointer;">
                                            <div class="card card-radius card-border welcome-card bg-light"
                                                alt="Autre Banque" title="Autre Banque">
                                                <p class="versement-text text-center pt-2 ng-binding">
                                                    <i class="fas fa-file-invoice-dollar pr-2"
                                                        style="color: #493201 !important"></i> Autre Banque
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div *ngIf="successOperationMyAccount" class="text-center">
                    <h1>Félicitations!</h1>
                    <p>La transaction a été effectuée avec succès.</p>
                </div>
            </div>
        </div>
    </main>
</body>