<div class="card">
    <div class="card-header">
        <h4>Autres informations</h4>
    </div>

    <div class="card-body">
        <form [formGroup]="infoForm" class="row g-3" (ngSubmit)="saveAdditionalInfo()">
            <div class="col-12">
              
                <label for="typeIndividual">Type de particulier</label><span class="required">*</span>

                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-briefcase-fill"></i></span> <!-- Icon added to the left of the label -->
                    <select id="typeIndividual" name="typeIndividual" formControlName="typeIndividual" class="form-select">
                        <option value="" disabled selected>Veuillez choisir le type de particulier</option>
                        <option value="SECTEUR_PRIVE">Secteur Privé</option>
                        <option value="SECTEUR_ETATIQUE">Secteur Etatique</option>
                    </select>
                </div>

            </div>

            <div class="col-4">
                <label for="profession">Profession </label><span class="required">*</span>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person-badge-fill"></i></span> <!-- Icon added to the left of the input field -->
                    <input type="text" id="profession" name="profession" formControlName="profession" required pattern="[a-zA-ZÀ-ÿ\s\-']{2,}" class="form-control">
                </div> 
                <div *ngIf="infoForm.get('profession')?.invalid && (infoForm.get('profession')?.dirty || infoForm.get('profession')?.touched)" class="text-danger">
                    <div *ngIf="infoForm.get('profession')?.hasError('required')" style="margin-top: 3px;">Entrez une profession valide</div>
                    <div *ngIf="infoForm.get('profession')?.hasError('pattern')" style="margin-top: 3px;">La profession nom ne peut pas contenir de chiffres</div>
                </div>
            </div>
            
            <div class="col-4">
                <label for="pieceType">Type de la pièce </label><span class="required">*</span>               
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-card-list"></i></span> <!-- Icon added to the left of the input field -->
                    <select id="type_particulier" name="type_particulier" formControlName="type_particulier" class="form-select">
                        <option value="" disabled selected>Veuillez choisir le type de la pièce</option>
                        <option value="sect_prv">Carte d'identité nationale</option>
                        <option value="sect_eta">Passeport</option>
                  </select>  
                </div>   
            </div>
            
            <div class="col-4">
                <label for="pieceNumber">Numéro de la pièce </label><span class="required">*</span>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-file-text"></i></span> <!-- Icon added to the left of the label -->
                    <input type="text" id="pieceNumber" name="pieceNumber" formControlName="pieceNumber" required  pattern="[0-9]*" class="form-control" >
                </div>                
                <div *ngIf="infoForm.get('pieceNumber')?.invalid && (infoForm.get('pieceNumber')?.dirty || infoForm.get('pieceNumber')?.touched)" class="text-danger">
                    <div *ngIf="infoForm.get('pieceNumber')?.hasError('required')" style="margin-top: 3px;">Entrez un numéro valide</div>
                    <div *ngIf="infoForm.get('pieceNumber')?.hasError('pattern')" style="margin-top: 3px;">Le numéro de la pièce ne doit contenir que des chiffres et chaque groupe de quatre chiffres doit être séparé par un espace.</div>
                </div>
            </div>
            
            <div class="col-12">
                <label for="expirationDate">Date d'expiration de la pièce</label><span class="required">*</span>
                <input type="date" id="expirationDate" name="expirationDate" formControlName="expirationDate" min="{{ today | date:'yyyy-MM-dd' }}">
            </div>
            
            <div class="col-12">
                <label for="piecePhoto">Photo de la pièce</label><span class="required">*</span>
                <input type="file" id="piecePhoto" name="piecePhoto" formControlName="piecePhoto" accept="png,.jpg, .jpeg,  .pdf" class="form-control">
                <div *ngIf="infoForm.get('piecePhoto')?.invalid && (infoForm.get('piecePhoto')?.dirty || infoForm.get('piecePhoto')?.touched)" class="text-danger">
                    <div *ngIf="infoForm.get('piecePhoto')?.hasError('required')" style="margin-top: 3px;">Les extensions valides sont : .jpg, .jpeg, .png, .pdf</div>
                </div>
            </div>
            
            <div class="col-12">
                <label for="referralCode">Code parrainage</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span> <!-- Icon added to the left of the input field -->
                    <input type="text" id="referralCode" name="referralCode" formControlName="referralCode"  pattern="[0-9]{4}" placeholder="0123" class="form-control">
                </div>
                <div *ngIf="infoForm.get('referralCode')?.invalid && (infoForm.get('numero_piece')?.dirty || infoForm.get('referralCode')?.touched)" class="text-danger">
                    <div *ngIf="infoForm.get('referralCode')?.hasError('pattern')" style="margin-top: 3px;">Le code doit contenir 4 chiffres</div>
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col text-start">
                        <button class="btn btn-secondary butn" (click)="Retour()">Retour</button>
                    </div>
                    <div class="col text-end">
                        <button class="btn btn-secondary butn" (click)="Suivant()">Suivant</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>