<body class="g-sidenav-show bg-gray-100">
  <div class="sidenav navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gray-100"
    id="sidenav-main">
    <app-transaction-nav></app-transaction-nav>
  </div>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <app-navbar></app-navbar>

    <div class="row" style="margin-left:50px">
      <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
          <li class="nav-item"><a class="nav-link active" href="transactions/virement">Vers mes contacts</a></li>
          <li class="nav-item"><a class="nav-link" href="transactions/virement/autre-contact">Vers autre compte</a></li>
          <li class="nav-item"><a class="nav-link " href="transactions/virement/multiple">Multiple</a></li>
          <li class="nav-item"><a class="nav-link" href="transactions/virement/permanent">Permanent</a></li>
        </ul>
        <div class="card-body">
          <div class="col-11">
            <div class="card">
              <div class="card-header">
                Cette transaction permet de virer un montant vers un de vos comptes DigiBank.
              </div>
              <div class="card-body">
                <form (ngSubmit)="submitTransfer()">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Compte à débiter</label>
                        <input class="form-control" [(ngModel)]="transfer.compteADebiter" name="compteADebiter"
                          required>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Compte à créditer</label>
                        <input class="form-control" [(ngModel)]="transfer.compteACrediter" name="compteACrediter"
                          required>

                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Montant</label>
                        <input type="number" class="form-control" [(ngModel)]="transfer.montant" name="montant"
                          required>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Motif</label>
                        <input type="text" class="form-control" [(ngModel)]="transfer.motif" name="motif">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col text-end">
                      <button class="btn btn-secondary butn" type="submit">Suivant</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>