@import '../profile-settings.component.css';

.icon-toggle{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.bi-eye-fill,
.bi-eye-slash-fill {
  z-index: 99;
}

.input-group {
    position: relative;
    z-index: 0;
  }